{% extends "base.html.twig" %}
{% block content %}
	<form action="/products/addToDB" method='post'>
		<label for="nom">Product name</label>
		<input type="text" name="nom" id="nom" maxlength='50' required>
		<label for="prixSalarie">Employee Price</label>
		<input type="text" name="prixSalarie" id="prixSalarie" maxlength='5' required>
        <span>Number must be superior to 0</span>
		<label for="prixAchat">Buying price</label>
		<input type="text" name="prixAchat" id="prixAchat" maxlength='5' required>
        <span>Number must be superior to 0</span>
		<label for="stock">In stock</label>
		<input type="text" name="stock" id="stock" maxlength='10' required>
        <span>Number must be superior to 0</span>
        <input type="submit" value="Add product">
	</form>
{% endblock %}
